# App
NEXT_PUBLIC_APP_URL=https://rentease.milahly.top
NEXT_PUBLIC_API_URL=https://api-rentease.milahly.top
ALLOWED_ORIGINS=https://rentease.milahly.top,http://localhost:3000,http://localhost:3001

# Auth
JWT_SECRET=change-me
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=
D1_DATABASE_ID=
R2_BUCKET_NAME=rentease-assets

# Integrations
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
RESEND_API_KEY=
