# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8787

# Auth
JWT_SECRET=change-me
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=
D1_DATABASE_ID=
R2_BUCKET_NAME=rentease-assets

# Integrations
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
RESEND_API_KEY=
